#nav-bar {
  position: fixed;
  top: 0;
  padding: 0 2em;
  height: 80px;
  width: 100%;
  background-color: rgb(96, 174, 247);
  color: #EFF7F6;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

#nav-bar .nav-detail {
  height: 50px;
  width: 100%;
  background-color: #ff8181;
  position: absolute;
  top: 15px;
  left: 0;
  /* transform: skewY(-1deg); */
  z-index: 1000;
}

#nav-bar .nav-logo {
  display: flex;
  justify-content: flex-start;
  z-index: 1001;
}

#nav-bar div.nav-logo img {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-left: 5px;
}

#nav-bar div.nav-logo span {
  font-family: "carter one", sans-serif;
  padding-left: 10px;
  font-size: 2.4rem;
  line-height: 80px;
}

#nav-bar div.nav-buttons {
  z-index: 1001;
}

#nav-bar div.nav-buttons button {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  color: #000;
  background-color: white;
  margin: 10px;
  padding: 0 5px 0 10px;
  height: 60px;
  transition: 0.1s all linear;
}

#nav-bar div.nav-buttons button:focus {
  outline: none;
}

#nav-bar div.nav-buttons button:hover {
  background-color: #ABE4EE;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#nav-bar div.nav-buttons button i {
  padding-right: 5px;
  font-size: 1.25em;
}

#nav-bar div.nav-buttons button p {
  margin: 0;
  font-size: 1.25em;
}

#nav-bar div.small-menu {
  display: none;
  float: right;
}

#nav-bar div.menu-list {
  display: none;
  width: 100%;
  background-color: #eee;
  clear: left;
}

@media only screen and (max-width:600px) {
  #nav-bar {
    padding: 0;
  }
  #nav-bar div.nav-buttons {
    display: none;
  }
  #nav-bar div.small-menu {
    display: block;
    color: #000;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
  }
  #nav-bar div.small-menu i {
    font-size: 3em;
    line-height: 80px;
    padding: 0 19px;
  }
  header div.menu-list ul {
    padding: 0;
    margin: 0;
  }
  header div.menu-list li {
    list-style-type: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    font-size: 1.5em;
    height: 80px;
  }
  header div.menu-list li:hover {
    background-color: rgb(255, 232, 232);
  }
  header div.menu-list li:first-of-type {
    margin-top: 80px;
  }
  header div.menu-list i {
    line-height: 80px;
    padding: 0 20px;
  }
  header div.menu-list p {
    margin: 0;
    line-height: 80px;
  }
}