.new-tweet {
  margin: auto;
  padding: 10px;
  width: 90%;
  max-width: 600px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.new-tweet textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  resize: none;
  height: 75px;
  border: none;
  border-radius: 10px;
}

.new-tweet textarea:focus {
  outline: none;
  border: 1px solid #ff8181;
  padding: 9px;
}


.new-tweet .counter {
  float: right;
  font-style: italic;
  line-height: 40px;
  padding-right: 0.7em;
  font-size: 0.85em;
}

.new-tweet .submit{
  font-family: "carter one", sans-serif;
  font-size: 1.25em;
  padding: 0px 10px;
  color: white;
  background-color: #ff8181;
  border-radius: 10px;
  border: 2px solid #ff6565;
  animation: animate-whale 0.75s infinite;
  transition: 0.1s linear all;
}

.new-tweet .submit:focus {
  outline: none;
}

.new-tweet .submit:hover {
  background-color: #fd5d5d;
}

.new-tweet .overCharLength {
  color: red;
}

.new-tweet .error-message {
  color: red;
  text-align: center;
  display: none;
  margin-top: 5px;
}

@keyframes animate-whale {
  0% {
    cursor: url("../images/whale-gif/whale-moves-1.gif"), auto;
  }
  25% {
    cursor: url("../images/whale-gif/whale-moves-2.gif"), auto;
  }
  50% {
    cursor: url("../images/whale-gif/whale-moves-3.gif"), auto;
  }
  75% {
    cursor: url("../images/whale-gif/whale-moves-2.gif"), auto;
  }
  100% {
    cursor: url("../images/whale-gif/whale-moves-1.gif"), auto;
  }
}

@media only screen and (max-width:600px) {
  .new-tweet {
    width: 95%;
    margin: 0.5em auto;
  }
}