article.tweet {
  opacity: 0.7;
  margin: 1em auto auto;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  color: #2a4d43;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: 0.1s linear all;
}

article.tweet:hover {
  opacity: 1;
  border: 1px solid #ccc;
}

article.tweet header {
  background-color: #eee;
  padding: 10px;
  height: 70px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

article.tweet header img {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  float: left;
}

article.tweet header h2 {
  margin: 0;
  float: left;
  padding-left: 10px;
}

article.tweet header p {
  color: #aaa;
  margin-top: 0.6em;
  font-size: 0.85em;
  float: right;
}

article.tweet>p {
  margin: 2em 0px;
  padding: 0 1em;
  word-wrap: break-word; /* prevents tweets that consist of 140 uninterrupted characters from staying on one line */
}

article.tweet footer {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

article.tweet footer p {
  font-size: 0.7em;
  line-height: 19px;
}

article.tweet footer div.icons {
  color: #79cec1;
}

article.tweet footer div.icons i {
  padding: 0 5px;
  transition: 0.1s linear all;
}

article.tweet:hover footer div.icons {
  visibility: visible;
}

article.tweet footer div.icons {
  visibility: hidden;
}

article.tweet footer div.icons i:hover {
  color: #007462;
}

section.loading {
  text-align: center;
  display: none;
  padding: 2em;
}

section.loading img {
  height: 75px;
  width: 75px;
}

@media only screen and (max-width:600px) {
  article.tweet {
    margin: 0.5em auto;
    width: 95%;
  }
  #tweets-section {
    padding-top: 0.5em;
  }
}